<div class="inicio-container">
  <!-- Título -->
  <h1 class="titulo">Laboratorios HyE</h1>

  <!-- Video Introductorio -->
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/RK1RRVR9A2g?list=PL4Gr5tOAPttJ247vzkv1ZbUEm_YtKLejH&index=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <!-- Descripción de la Empresa -->
  <div class="descripcion">
    <p>
      Laboratorios HyE es una empresa dedicada a la innovación y desarrollo de productos
      de alta calidad en el sector de la salud. Nuestra misión es ofrecer soluciones efectivas
      que mejoren la vida de las personas, a través de la investigación, el compromiso y la
      excelencia en todo lo que hacemos.
    </p>
  </div>
</div>


